* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}
/* Navbar section */
.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-responsive {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-logo img {
  width: 70%;
}
.nav-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1rem;
  font-weight: 500;
}
.nav-btn {
  width: 18%;
  border-radius: 5px;
  background-color: #469165;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  height: 35px;
  text-align: center;
  align-content: center;
}
.nav-btn:hover {
  background-color: rgb(51, 199, 37);
}

/* Header section starts here */

/* Respnsive for mobile devices */
@media screen and (max-width: 576px) {
  /* Navbar section */
  .navbar {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav-responsive {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .nav-logo img {
    width: 50%;
    justify-content: center;
  }
  .nav-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    /* width: 30%; */
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 600;
  }
  .nav-btn {
    width: 20%;
    font-size: 0.7rem;
    font-weight: 600;
    height: 30px;
  }
  /* Header section */
}

/* Responsive for large devices */
@media screen and (min-width: 992px) {
  /* navbar section */
  .navbar {
    gap: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .nav-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    justify-self: center;
    justify-content: space-around;
  }
  .nav-logo img {
    width: 50%;
    justify-content: center;
  }
  .nav-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    /* width: 30%; */
    justify-content: center;
    font-size: 1rem;
  }
  .nav-btn {
    width: 20%;
    font-size: 1rem;
  }
}
