* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}
/* Navbar section */
.navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-responsive {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-logo img {
  width: 70%;
}
.nav-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1rem;
  font-weight: 500;
}
.nav-btn {
  width: 18%;
  border-radius: 5px;
  background-color: #469165;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  height: 35px;
  text-align: center;
  align-content: center;
}
.nav-btn:hover {
  background-color: rgb(51, 199, 37);
}

/* Header section starts here */
header {
  background-image: url(assets/hero-bg.png);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  width: 60%;
  height: 100%;
  justify-self: center;
  text-align: center;
  align-content: center;
}
.Early-access {
  font-size: 0.6rem;
  font-weight: 700;
  color: #469165;
  width: 25%;
  height: 6%;
  border-radius: 1000px;
  background-color: white;
  justify-self: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.Early-access img {
  width: 6%;
  align-self: center;
}
.Early-access:hover {
  background-color: rgb(183, 242, 178);
}
.Structured {
  padding: 8px 0;
}
.thinking {
  font-size: 2rem;
  color: white;
  font-weight: 900;
}
.note {
  font-size: 2rem;
  color: #30b868;
  font-weight: 900;
}
.header-info {
  color: white;
  font-size: 1rem;
  padding: 5px 0;
}
.Start {
  display: flex;
  gap: 10px;
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Vault {
  background-color: #469165;
  border-radius: 5px;
  justify-self: center;
  align-content: center;
  font-size: 0.8rem;
  width: 40%;
  height: 30px;
  font-weight: 600;
}
.Vault img {
  width: 10px;
}
.Vault:hover {
  background-color: rgb(51, 199, 37);
}
.How {
  border: 1px solid aliceblue;
  border-radius: 5px;
  background-color: transparent;
  font-size: 0.8rem;
  width: 30%;
  height: 30px;
  font-weight: 600;
  justify-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.How img {
  width: 8px;
}
.How:hover {
  background-color: rgb(83, 144, 78);
}
/* Respnsive for mobile devices */
@media screen and (max-width: 576px) {
  /* Navbar section */
  .navbar {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav-responsive {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .nav-logo img {
    width: 50%;
    justify-content: center;
  }
  .nav-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    /* width: 30%; */
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 600;
  }
  .nav-btn {
    width: 20%;
    font-size: 0.7rem;
    font-weight: 600;
    height: 30px;
  }
  /* Header section */
}

/* Responsive for large devices */
@media screen and (min-width: 992px) {
  /* navbar section */
  .navbar {
    gap: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .nav-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    justify-self: center;
    justify-content: space-around;
  }
  .nav-logo img {
    width: 50%;
    justify-content: center;
  }
  .nav-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    /* width: 30%; */
    justify-content: center;
    font-size: 1rem;
  }
  .nav-btn {
    width: 20%;
    font-size: 1rem;
  }
}
