/* Navbar section */
.navbar,
.nav-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aquamarine; */
}
.nav-logo {
  width: 140px;
}
.nav-info {
  font-size: 1rem;
  gap: 15px;
}
.nav-btn{
  border: 1px solid green;
  border-radius: 4px;
  padding: 12.5px 16px;
  font-weight: 600;
  background-color: #30B868;
  color: #FFFFFF;
}


/* Header section starts here */
